TPDailyRecapLight/Service References/AMService/AMService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://rumsk1spm01:900/AsyncMail/AMService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AsyncMailService" />
  <xs:import schemaLocation="http://rumsk1spm01:900/AsyncMail/AMService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://rumsk1spm01:900/AsyncMail/AMService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="AddToMailQueue">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="htmlMessage" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sender" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="recipients" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="attemptCount" nillable="true" type="xs:int" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AsyncMailService" minOccurs="0" name="priority" type="q1:PriorityEnum" />
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="validTime" nillable="true" type="q2:duration" />
        <xs:element minOccurs="0" name="serviceName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddToMailQueueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddToMailQueueResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddToMailQueueAsIs">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="htmlMessage" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sender" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="recipients" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="attemptCount" nillable="true" type="xs:int" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/AsyncMailService" minOccurs="0" name="priority" type="q3:PriorityEnum" />
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="validTime" nillable="true" type="q4:duration" />
        <xs:element minOccurs="0" name="serviceName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddToMailQueueAsIsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddToMailQueueAsIsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddToMailQueueTemplate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sender" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="recipients" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="attemptCount" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="template" nillable="true" type="xs:string" />
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="parameters" nillable="true" type="q5:ArrayOfKeyValueOfstringstring" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/AsyncMailService" minOccurs="0" name="priority" type="q6:PriorityEnum" />
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="validTime" nillable="true" type="q7:duration" />
        <xs:element minOccurs="0" name="serviceName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddToMailQueueTemplateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddToMailQueueTemplateResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateAppointment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/AsyncMailService" minOccurs="0" name="appointment" nillable="true" type="q8:AppointmentItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateAppointmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateAppointmentResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAppointment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/AsyncMailService" minOccurs="0" name="appointment" nillable="true" type="q9:AppointmentItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAppointmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateAppointmentResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MoveAppointment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/AsyncMailService" minOccurs="0" name="appointment" nillable="true" type="q10:AppointmentItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MoveAppointmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MoveAppointmentResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAppointment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="reservationId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAppointmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteAppointmentResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>